:root {
	--bg-color-1: #220015;
	--fg-color-1: #ff00aa;
	--fg-color-2: #ffdd00;
}

.background {
	z-index: -2;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%; /* fixs android blank zone on scrolling while hide url bar */
	background-color: var(--bg-color-1);
	background-image:
			linear-gradient(to top right, rgba(38, 0, 255, 0.2) 0%, transparent 70%),
			url('/background.png');
	background-repeat: repeat;
}

@keyframes blink-a {
  0% { opacity: 0; transform: translate(0, 0); }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes blink-b {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
} 

@keyframes fugaz-a {
  0% { opacity: 0; }
  20% { opacity: 1; }
  100% { opacity: 0;  transform: translate(-100px, -200px); color: magenta; }
} 

@keyframes fugaz-b {
  0% { opacity: 0; }
  40% { opacity: 1; color: forestgreen; }
  100% { opacity: 0;  transform: translate(200px, 400px); color: mediumspringgreen;  }
} 


.star {
position: absolute;
width: 1px;
height: 1px;
background-color: white;
opacity: 0;
}

.stars {
z-index: -1;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.blink-1 { animation: blink-a 1500ms infinite;}
.blink-2 { animation: blink-b 1600ms infinite;}
.blink-3 { animation: blink-a 1700ms infinite;}
.blink-4 { animation: blink-b 1800ms infinite;}
.blink-5 { animation: blink-a 1900ms infinite;}
.blink-6 { animation: blink-b 2000ms infinite; }
.blink-7 { animation: blink-a 2100ms infinite; }
.blink-8 { animation: blink-b 2200ms infinite; }
.blink-9 { animation: blink-a 2300ms infinite; }
.blink-10 { animation: blink-b 2400ms infinite; }
.blink-11 { animation: blink-a 2500ms infinite; }
.blink-12 { animation: blink-b 2600ms infinite; }
.blink-13 { animation: blink-a 2700ms infinite; }
.blink-14 { animation: blink-b 2800ms infinite; }
.blink-15 { animation: blink-a 2900ms infinite; }
.blink-16 { animation: blink-b 3000ms infinite; }
.blink-17 { animation: blink-a 3100ms infinite; }
.blink-18 { animation: blink-b 3200ms infinite; }
.blink-19 { animation: fugaz-a 25000ms infinite; }
.blink-20 { animation: fugaz-b 35000ms infinite; }
