---
import Layout from '../layouts/Layout.astro'
import { imageTypes } from '../types/index'
import bucketFilesJson from '../../bucketJsonGenerator/estructura_ficheros_bucket.json'

const urlVideo = `${bucketFilesJson.urlBase}/${bucketFilesJson.boda.urlBaseRelativa}`
---

<Layout title='Marina y Elías'>
	<main>
		<h1>Marina y Elías</h1>
		<p>
			Bienvenidos a la galería de fotos de la boda de Marina y Elías
		</p>
		<p>
			Esta galería pretende servir para rememorar los buenos momentos que pasamos en la boda y esta dedicada a tí que estuviste en mi boda y como no, a mi querida esposa Marina, no paso ni un día sin dar las gracias de haberme cruzado en tu camino, te quiero amor, espero que te guste mi regalo de primer aniversario 24 de Junio del 2023
		</p>
		<div class='image-link-container'>
			<h2>La gran historia</h2>
			<p>Espectaculo de Arte con Arena regalo del mejor cuñado y amigo que se pueda tener Felipe Mejias Rosado</p>
			<video
				src={`${urlVideo}video_felipe.mp4`}
				poster={`${urlVideo}portada_video.jpg`}
				controls
			/>
		</div>
		<div class='image-link-container'>
			<h2>Grandes momentos</h2>
			<p>Fotos random de grandes momentos</p>
			<a href={'galerias/' + imageTypes.fotos}>
				<img src='/fotos_collage.png' alt='fotocall collage' />
			</a>
		</div>
		<div class='image-link-container'>
			<h2>Fotomatón time</h2>
			<p>Difrazado siempre sales mejor 😂</p>
			<a href={'galerias/' + imageTypes.fotocall}>
				<img src='/fotocall_collage.png' alt='fotocall collage' />
			</a>
		</div>
		<div class='image-link-container'>
			<h2>Fotomatón en papel</h2>
			<p>Quiza quieras enmarcarla y ponerla encima del cabecero de tu cama</p>
			<a href={'galerias/' + imageTypes.fotocall_printed}>
				<img src='/fotocall_printed_collage.png' alt='fotocall para imprimir collage' />
			</a>
		</div>
		<div class='image-link-container'>
			<h2>Fotomatón animado</h2>
			<p>Nunca te vi hacer tanto deporte</p>
			<a href={'galerias/' + imageTypes.fotocall_gifs}>
				<img src='/fotocall_collage.png' alt='fotocall collage' />
			</a>
		</div>

	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		margin-bottom: 100px;
	}
	video {
		width: 100%;
		max-width: var(--max-width);
		margin-top: 10px;
	}
	img {
		width: 100%;
		max-width: var(--max-width);
		margin-top: 10px;
	}
	a {
		text-decoration: none;
		color: var(--color-text);
	}
	.image-link-container {
		margin-top: 50px;
	}
	.hide-marina {
		margin-bottom: 1000px;
	}
</style>
