---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Marina y Elías'>
	<main>
		<!-- <h1>Marina y Elías</h1> -->
		<h1>Pingo y Pango</h1>
		<!-- <h2>Después de la boda</h2> -->
		<h2>After the party</h2>
	</main>
</Layout>

<style>

</style>
