---
import Layout from '../layouts/Layout.astro'
import { imageTypes } from '../types/index'
---

<Layout title='Marina y Elías'>
	<main>
		<!-- <h1>Marina y Elías</h1> -->
		<h1>Pingo y Pango</h1>
		<!-- <h2>Después de la boda</h2> -->
		<h2>After the party</h2>
		<p>
			bla bla bla bli blo blu blu
		</p>
		<h3><a href={'galerias/' + imageTypes.fotos}>Los momentos →</a></h3>
		<h3><a href={'galerias/' + imageTypes.fotocall}>Gente disfrazada →</a></h3>
		<h3><a href={'galerias/' + imageTypes.fotocall_printed}>Gente disfrazada de 3 en 3 →</a></h3>
		<h3><a href={'galerias/' + imageTypes.fotocall_gifs}>Gifs de gente disfrazada →</a></h3>
	</main>
</Layout>

<style>

</style>
