.container {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--bg-color-1);
}

.image {
	filter: invert(1) contrast(1) brightness(0.4) blur(2px);/*  hide Marina */
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.closeIcon {
	position: fixed;
	top: 0rem;
	right: 0rem;
	margin: 1rem;
	cursor: pointer;
	width: 1.5rem;
  height: 1.5rem;
  fill: white;
}
