.container {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.image {
	/* filter: invert(1) contrast(1) brightness(0.4) blur(2px); hide Marina */
	width: 100%;
	height: 100%;
	object-fit: contain;
	filter: drop-shadow(0 0 25px rgba(43, 0, 255, 0.4));
}

.closeIcon {
	position: fixed;
	top: 0rem;
	right: 0rem;
	margin: 1rem;
	cursor: pointer;
	width: 1.5rem;
  height: 1.5rem;
  fill: white;
}
